# ===========
# DataBase SetUp
# ===========
HOST="localhost"
POSTGRES_USER=your_db_user_name
POSTGRES_PASSWORD=your_db_password
POSTGRES_DB=db_name
PORT=5432
MIN_CONNECTION_POOLING = 2
MAX_CONNECTION_POOLING = 10

# ============
# Gemini Api Key
# ============
GOOGLE_API_KEY=your_gemini_api_key
LLM_MODEL_NAME = "gemini-3.1-flash-lite"
TEMPERATURE = 0

# =============
# JWT token 
# ==============
SECRET_KEY = secret_key_for_auth_token
ALGORITHM = algorithms

ACCESS_TOKEN_EXPIRE_MINUTES = 30
REFRESH_TOKEN_EXPIRE_DAYS = 7


# =============
# MCP Srevre 
# =============
SERVER_HOST = "0.0.0.0"
SERVER_PORT = 3000
AGENT_SERVER_URL="http://localhost:3000/mcp"


#================ 
# promtp file path 
#==============
PROMPT_FILE_PATH="app/agent/prompts/support_agent_prompt.md"